@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600;700&display=swap');

/* fonts  */
body{
    font-family: 'Poppins', sans-serif;
}
header h2{
    font-size: 24px;
    font-weight: 700;
    color: #3A3A3A;
}
header nav {
    display: flex;
    margin: 5px 120px;
    align-items: center;
    justify-content: space-between;
}
.right a{
    margin-left: 34px;
    text-decoration: none;
    color: #3A3A3A;
    font-size: 16px;
    font-weight: 600;
}